header.app_header {
  margin: 0 0.5em;
  display: flex;
  flex-direction: row;

  & .app_menu_item {
    cursor: pointer;
    padding: 0 var(--base-size);
    transition: background 0.2s;

    &:first-child {
      padding-left: 0;
      padding-right: var(--base-size);
    }

    &:last-child {
      padding-left: var(--base-size);
      padding-right: 0;
    }

    & i {
      line-height: calc(var(--base-size) * 3);
    }
  }

  & .header_title {
    margin-left: calc(var(--base-size) * 0.25);
    display: inline-block;
    line-height: calc(var(--base-size) * 3);
    font-size: var(--large-font-size);
    flex: 1;
  }

  & .toggle_nav_drawer {
    display: none;

    @media (--sm-tablet) {
      display: block;

    }
  }
}
