@import '{}/imports/ui/stylesheets/base';

$start-button-size: $base-size * 3;
$line-height: $start-button-size - 0.2;

.new_task {
  flex: 1;
  background: $background-color;
  input {
    padding-left: $base-size;
    background: $background-color;
    border:$border-color solid 1px;
    line-height: $line-height;
    font-size: $large-font-size;
    width: 100%;
    color: $primary-color;
    box-sizing: border-box;

    &:focus {
      outline: none;
    }
  }
}

.new_task_button {
  color: $accent-font-color;
  cursor: pointer;
  display: block;
  width: $start-button-size;
  height: $start-button-size;
  background: $border-color;
  transition: background 0.2s;

  &:hover {
    background: darken($border-color, 5%);
  }

  .start_button_title {
    font-size: $large-font-size;
    top: 50%;
    text-align: center;
    line-height: 3.5rem;
    // position: absolute;
    left: 0;
    right: 0;

    > * {
      font-size: inherit;
      line-height: $line-height;
    }
  }
}