@import '{}/imports/ui/stylesheets/base';

@keyframes bounce_zoom_in {
  0% { 
    opacity: 1;
    visibility: visible;
  }
}

.task {
  position: relative;
  
  .item {
    @extend .flex_row;
    
    .task_details {
      @extend .flex_column;
      flex: 1;
      
      .task_title {
        flex: 1;
        font-size: $large-font-size;
        line-height: $base-size * 2;
      }
      
      .task_parameters {
        font-size: $large-font-size * 0.75;
        line-height: $base-size * 1;
      }
    }
    
    .task_time_elapsed {
      line-height: $base-size * 3;
      min-width: $base-size * 4;
      text-align: center;
    }
    
    .task_options {
      cursor: pointer;
      padding-left: $base-size;
      
      i {
        line-height: $base-size * 3;
      }
    }
  }
  
  .options {
    @extend .flex_row;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: $background-color;
    opacity: 1;
    visibility: visible;
    transition: visibility 0.3s ease-out, opacity 0.3s ease-out;
    
    :first-child {
      flex: 1;
    }
    
    a {
      
      &:first-child {
        padding-left: 0;
        padding-right: $base-size * 0.5;
      }
      
      &:last-child {
        padding-left: $base-size * 0.5;
        padding-right: 0;
      }
      
      cursor: pointer;
      padding: 0 $base-size * 0.5;
      
      i {
        line-height: $base-size * 3;
      }
    }
    
    &.hidden {
      opacity: 0;
      visibility:hidden;
    }
  }
}