/* Reset.less
 * Props to Eric Meyer (meyerweb.com) for his CSS reset file. We're using an adapted version here	that cuts out some of the reset HTML elements we will never need here (i.e., dfn, samp, etc).
 * ------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */


/* ERIC MEYER RESET */


--------------------------------------------------
*/

html, body { margin: 0; padding: 0; }


h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, cite, code, del, dfn, em, img, q, s, samp, small, strike, strong, sub, sup, tt, var, dd, dl, dt, li, ol, ul, fieldset, form, label, legend, button, table, caption, tbody, tfoot, thead, tr, th, td { margin: 0; padding: 0; border: 0; font-weight: normal; font-style: normal; font-size: 100%; line-height: 1; font-family: inherit; }


table { border-collapse: collapse; border-spacing: 0; }


ol, ul { list-style: none; }


q:before, q:after, blockquote:before, blockquote:after { content: ""; }


/* Normalize.css
 Pulling in select resets form the normalize.css project
 --------------------------------------------------

 Display in IE6-9 and FF3
 -------------------------
 Source: http://github.com/necolas/normalize.css 
*/


html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
}


// Focus states
a:focus {
  outline: thin dotted;
}


// Hover & Active
a:hover,
a:active {
  outline: 0;
}


/* Display in IE6-9 and FF3
 -------------------------
 Source: http://github.com/necolas/normalize.css
*/


article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section {
  display: block;
}


/* Display block in IE6-9 and FF3
 -------------------------
 Source: http://github.com/necolas/normalize.css
*/


audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}


/* Prevents modern browsers from displaying 'audio' without controls
 -------------------------
 Source: http://github.com/necolas/normalize.css
*/


audio:not([controls]) {
    display: none;
}


/* Prevents sub and sup affecting line-height in all browsers
 -------------------------
 Source: http://github.com/necolas/normalize.css
*/


sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}


sup {
  top: -0.5em;
}


sub {
  bottom: -0.25em;
}


/* Img border in a's and image quality
 -------------------------
 Source: http://github.com/necolas/normalize.css
*/


img {
    border: 0;
    -ms-interpolation-mode: bicubic;
}


/* Forms
 -------------------------
 Source: http://github.com/necolas/normalize.css

 Font size in all browsers, margin changes, misc consistency
*/


button,
input,
select,
textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle;
}


button,
input {
  line-height: normal; /* FF3/4 have !important on line-height in UA stylesheet */
  *overflow: visible; /* Inner spacing ie IE6/7 */
}


button::-moz-focus-inner,
input::-moz-focus-inner { /* Inner padding and border oddities in FF3/4 */
  border: 0;
  padding: 0;
}


button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer; /* Cursors on all buttons applied consistently */
  -webkit-appearance: button; /* Style clicable inputs in iOS */
}


input[type="search"] { /* Appearance in Safari/Chrome */
  -webkit-appearance: textfield;
  box-sizing: content-box;
}


input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; /* Inner-padding issues in Chrome OSX, Safari 5 */
}


textarea {
  overflow: auto; /* Remove vertical scrollbar in IE6-9 */
  vertical-align: top; /* Readability and alignment cross-browser */
}


.nav_drawer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 240px;
  top: 0;
  height: 100%;
  position: fixed;
  box-sizing: border-box;
  background: #fafafa;
  z-index: 300;
  overflow-y: auto
}


@media (max-width: 720px) {


 .nav_drawer { -webkit-transition: -webkit-transform 0.3s ease-out; transition: -webkit-transform 0.3s ease-out; transition: transform 0.3s ease-out; transition: transform 0.3s ease-out, -webkit-transform 0.3s ease-out; -webkit-transform: translate3d(-240px, 0, 0); transform: translate3d(-240px, 0, 0); }


 .nav_drawer.nav_drawer_open { -webkit-transform: translate3d(0, 0, 0); transform: translate3d(0, 0, 0); box-shadow: 0 0 1px 1px rgba(52,73,94, 1); }
  }


.nav_drawer .app_title { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-direction: row; flex-direction: row; }


.nav_drawer .app_title h1 { -webkit-box-flex: 1; -ms-flex: 1; flex: 1; line-height: 48px; line-height: 3rem; font-size: 16px; font-size: 1rem; padding: 0 8px; padding: 0 0.5rem; }


.nav_drawer .app_title a.close_nav_drawer { display: none; cursor: pointer; padding: 0 8px; padding: 0 0.5rem; }


@media (max-width: 720px) {


 .nav_drawer .app_title a.close_nav_drawer { display: block; } }


.nav_drawer .app_title a.close_nav_drawer i { line-height: 48px; line-height: 3rem; }


.nav_screen {
  z-index: 299;
  background: rgba(66, 66, 66, 0.75);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity 0.3s ease-out, visibility 0.3s ease-out;
  transition: opacity 0.3s ease-out, visibility 0.3s ease-out
}


@media (max-width: 720px) {


 .nav_screen {}


 .nav_screen.nav_drawer_open { visibility: visible; opacity: 1; }
  }


a.nav_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  background: #34495e;
  color: #fafafa;
  cursor: pointer;
  padding: 0 8px;
  padding: 0 0.5rem;
  border-bottom: rgb(186, 186, 186) solid 1.6px;
  border-bottom: rgb(186, 186, 186) solid 0.1rem;
  font-size: 12.8px;
  font-size: 0.8rem;
  -webkit-transition: background 0.3s ease-out;
  transition: background 0.3s ease-out;
  text-decoration: none !important
}


a.nav_item:hover { background: rgb(43, 61, 79); }


a.nav_item.secondary { color: #34495e; background: #fafafa; }


a.nav_item.secondary:hover { background: rgb(237, 237, 237); }


a.nav_item > * { line-height: 48px; line-height: 3rem; }


a.nav_item :first-child { -webkit-box-flex: 1; -ms-flex: 1; flex: 1; }


.sub_nav_items {
  max-height: 0;
  -webkit-transition: max-height 0.7s ease-in-out;
  transition: max-height 0.7s ease-in-out
}


.sub_nav_items.open { max-height: 1280px;/* Haxx */ }


.empty_nav_item {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}


.nav_items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: rgb(224, 224, 224)
}


.nav_items.secondary { background: #fafafa; }


.new_task_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row
}


.new_task_container .new_task { -webkit-box-flex: 1; -ms-flex: 1; flex: 1; background: $background-color; }


.new_task_container .new_task input { padding: 1px 3.2px; padding: 1px 0.2rem; background: #fafafa; border: #34495e solid 1px; line-height: 44.8px; line-height: 2.8rem; font-size: 16px; font-size: 1rem; width: 100%; color: #34495e; box-sizing: border-box; border-radius: 0; }


.new_task_container .new_task input:focus { outline: none; }


.new_task_container .new_task_button { color: #fafafa; cursor: pointer; display: block; width: 48px; width: 3rem; height: 48px; height: 3rem; background: #34495e; -webkit-transition: background 0.2s; transition: background 0.2s; }


.new_task_container .new_task_button:hover { background: rgb(43, 61, 79); }


.new_task_container .new_task_button .new_task_button_title { font-size: 16px; font-size: 1rem; top: 50%; text-align: center; line-height: 56px; line-height: 3.5rem; left: 0; right: 0; }


.new_task_container .new_task_button .new_task_button_title > * { font-size: inherit; line-height: 44.8px; line-height: 2.8rem; }


.task_list_container {
  margin: 8px 0;
  margin: 0.5rem 0
}


.task_list_container ul.task_list {}


.task_list_container ul.task_list > li:not(:first-child) { margin-top: 3.2px; margin-top: 0.2rem; border-top: #34495e solid 1.6px; border-top: #34495e solid 0.1rem; }


.task_list_container ul.task_filter { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-direction: row; flex-direction: row; margin-bottom: 16px; margin-bottom: 1rem; margin-top: 12px; margin-top: 0.75rem; }


.task_list_container ul.task_filter li:first-child { -webkit-box-flex: 1; -ms-flex: 1; flex: 1; }


.task_list_container ul.task_filter li:not(:first-child) { cursor: pointer; line-height: 24px; line-height: 1.5rem; margin: 0 4px; margin: 0 0.25rem; border-bottom: rgb(91, 127, 164) solid 3.2px; border-bottom: rgb(91, 127, 164) solid 0.2rem; -webkit-transition: border 0.2s ease-out; transition: border 0.2s ease-out; }


.task_list_container ul.task_filter li:not(:first-child):first-child { margin-left: 0; }


.task_list_container ul.task_filter li:not(:first-child):hover,
      .task_list_container ul.task_filter li:not(:first-child).current { border-bottom: #34495e solid 3.2px; border-bottom: #34495e solid 0.2rem; }


.task_container {
  position: relative
}


.task_container .task_item { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-direction: row; flex-direction: row; }


.task_container .task_item .task_details { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; -webkit-box-flex: 1; -ms-flex: 1; flex: 1; }


.task_container .task_item .task_details .task_title { -webkit-box-flex: 1; -ms-flex: 1; flex: 1; font-size: 16px; font-size: 1rem; line-height: 32px; line-height: 2rem; }


.task_container .task_item .task_details .task_parameters { font-size: 12px; font-size: 0.75rem; line-height: 16px; line-height: 1rem; }


.task_container .task_item .task_time_elapsed { line-height: 48px; line-height: 3rem; min-width: 64px; min-width: 4rem; text-align: center; }


.task_container .task_item .task_options { cursor: pointer; padding-left: 16px; padding-left: 1rem; }


.task_container .task_item .task_options i { line-height: 48px; line-height: 3rem; }


.task_container .task_options_menu { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-direction: row; flex-direction: row; position: absolute; left: 0; top: 0; width: 100%; height: 100%; background: #fafafa; opacity: 1; visibility: visible; -webkit-transition: visibility 0.3s ease-out, opacity 0.3s ease-out; transition: visibility 0.3s ease-out, opacity 0.3s ease-out; }


.task_container .task_options_menu :first-child { -webkit-box-flex: 1; -ms-flex: 1; flex: 1; }


.task_container .task_options_menu a { cursor: pointer; padding: 0 8px; padding: 0 0.5rem; }


.task_container .task_options_menu a:first-child { padding-left: 0; padding-right: 8px; padding-right: 0.5rem; }


.task_container .task_options_menu a:last-child { padding-left: 8px; padding-left: 0.5rem; padding-right: 0; }


.task_container .task_options_menu a i { line-height: 48px; line-height: 3rem; }


.task_container .task_options_menu.hidden { opacity: 0; visibility: hidden; }


header.app_header {
  margin: 0 0.5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row
}


header.app_header .app_menu_item { cursor: pointer; padding: 0 16px; padding: 0 1rem; -webkit-transition: background 0.2s; transition: background 0.2s; }


header.app_header .app_menu_item:first-child { padding-left: 0; padding-right: 16px; padding-right: 1rem; }


header.app_header .app_menu_item:last-child { padding-left: 16px; padding-left: 1rem; padding-right: 0; }


header.app_header .app_menu_item i { line-height: 48px; line-height: 3rem; }


header.app_header .header_title { margin-left: 4px; margin-left: 0.25rem; display: inline-block; line-height: 48px; line-height: 3rem; font-size: 16px; font-size: 1rem; -webkit-box-flex: 1; -ms-flex: 1; flex: 1; }


header.app_header .toggle_nav_drawer { display: none; }


@media (max-width: 720px) {


 header.app_header .toggle_nav_drawer { display: block; } }


.app_body {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: #fafafa;
  font-family: 'Open Sans', sans-serif;
  color: #34495e;
  overflow: hidden
}


.app_body.container { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-direction: row; flex-direction: row; }


.app_body input { font-family: 'Open Sans', sans-serif; }


.app_body > div { background: #fafafa; width: 100%; height: 100%; }


.container {
  width: 66%;
  max-width: 840px;
  margin: auto;
  position: absolute;
  left: 0;
  right: 0;
  height: 100%
}


@media (max-width: 1024px) {


 .container { width: 100%; }
  }


.page {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-left: 240px
}


.page > div { margin: 0 0.5em; }


@media (max-width: 720px) {


 .page { margin-left: 0; }
  }
