:root {
  --start-button-size: calc(var(--base-size) * 3);
  --line-height: calc(var(--start-button-size) - 0.2);
}

.new_task_container {
  & form {
    display: flex;
    flex-direction: row;
    width: 100%;

    & .new_task {
      flex: 1;
      background: $background-color;

      & input {
        padding: 1px 0.2rem;
        background: var(--background-color);
        border: var(--border-color) solid 1px;
        line-height: var(--line-height);
        font-size: var(--large-font-size);
        width: 100%;
        color: var(--primary-color);
        box-sizing: border-box;
        border-radius: 0;

        &:focus {
          outline: none;
        }
      }
    }

    & .new_task_button {
      color: var(--accent-font-color);
      cursor: pointer;
      display: block;
      width: var(--start-button-size);
      height: var(--start-button-size);
      background: var(--border-color);
      transition: background 0.2s;

      &:hover {
        background: color(var(--border-color) lightness(-5%));
      }

      & .new_task_button_title {
        font-size: var(--large-font-size);
        top: 50%;
        text-align: center;
        line-height: 3.5rem;
        left: 0;
        right: 0;

        & > * {
          font-size: inherit;
          line-height: var(--line-height);
        }
      }
    }
  }
}
