@import '{}/imports/ui/stylesheets/base';

$start-button-size: 3rem;

$color-midnight-blue: #2c3e50;
$color-turquoise: #1abc9c;
$color-clouds: #ecf0f1;
$color-emerland: #2ecc71;
$color-alizarin: #e74c3c;
$color-pomegranate: #c0392b;
$color-wetasphalt: #34495e;

$background-color: $color-pomegranate;
$primary-color: $color-midnight-blue;
$accent-color: $color-alizarin;
$accent-font-color: $color-clouds;

$large-font-size: 1.25rem;

// 4 columns
$layout-xxs: 480px !default;
$layout-xs: 600px !default;
$layout-sm-tablet: 720px !default;
$layout-sm: 840px !default;
$layout-md: 960px !default;
$layout-lg-tablet: 1024px !default;
$layout-lg: 1280px !default;
$layout-xl: 1440px !default;
$layout-xxl: 1600px !default;
$layout-xxxl: 1920px !default;


$xs-width: 100%;
$lg-width: 75%;
$default-width: 66%;

$regular-large-font-size: $large-font-size + 0.25;
$regular-start-button-size: $start-button-size * 1.25;

.app_body {
  @include absolute-fullscreen();
  background: $background-color;
  font-family: 'Open Sans', sans-serif;
  color: $primary-color;
  overflow: hidden;

  input {
    font-family: 'Open Sans', sans-serif;
  }
}

.container {
  width: $default-width;
  margin: auto;
  position: absolute;
  left: 0;
  right: 0;

  @media screen and (max-width: $layout-sm) {
    width: $xs-width;
  }
}

header.page_header {
  margin: 0.5em;
  background: $color-clouds;
  display: flex;
  flex-direction: row;

  .page_menu {
    cursor: pointer;
    padding: 0 1rem;
    color: $color-wetasphalt;
    transition: background 0.2s;

    &:hover {
      background: darken($color-clouds, 5%);
    }

    i {
      line-height: 3rem;
    }
  }

  .header_title {
    margin-left: 0.25em;
    display: inline-block;
    line-height: 2.6rem;
    font-size: $large-font-size + 0.25;
    flex: 1;
  }
}

.main_body {
  margin: 0 0.5em;
}

.start_button {
  color: $accent-font-color;
  cursor: pointer;
  display: block;
  width: $start-button-size;
  height: $start-button-size;
  background: $accent-color;
  transition: background 0.2s;

  &:hover {
    background: darken($accent-color, 5%);
  }

  .start_button_title {
    font-size: $large-font-size;
    top: 50%;
    text-align: center;
    margin-top: -$large-font-size / 2;
    position: absolute;
    left: 0;
    right: 0;

    @media screen and (min-width: $layout-sm) {
      font-size: $regular-large-font-size;
      margin-top: -$regular-large-font-size / 2;
    }

    > * {
      font-size: inherit;
    }
  }
}

.task_details {
  flex: 1;
  padding-left: 1vmax;
  background: $color-clouds;
  input {
    background: $color-clouds;
    border:none;
    line-height: $start-button-size - 0.2;
    font-size: $large-font-size;
    width: 100%;
    color: $primary-color;

    @media screen and (min-width: $layout-sm) {
      font-size: $regular-large-font-size;
    }

    &:focus {
      outline: none;
    }
  }
}

.task_container {
  display: flex;
  flex-direction: row;
}


.bounce_zoomin_in_logo {
  animation: bounce_zoom_in 4000ms linear both;
}
