@import '{}/imports/ui/stylesheets/base';

.app_body {
  @include absolute-fullscreen();
  background: $background-color;
  font-family: 'Open Sans', sans-serif;
  color: $primary-color;
  overflow: hidden;

  input {
    font-family: 'Open Sans', sans-serif;
  }
}

.container {
  width: $default-width;
  margin: auto;
  position: absolute;
  left: 0;
  right: 0;
  height: 100%;

  @media screen and (max-width: $layout-lg-tablet) {
    width: $xs-width;
  }
}

.page {
  flex: 1;
  margin-left: $nav-drawer-width;
  max-width: 640px;
  
  @media screen and (max-width: $layout-sm-tablet) {
    margin-left: 0;
  }
}

.content {
  margin: 0 0.5em;
}