@import "./colors.css";

:root {
  --base-size: 1rem;

  --background-color: var(--color-grey-50);
  --border-color: var(--color-wetasphalt);

  --primary-color: var(--color-wetasphalt);
  --accent-color: var(--color-green-400);
  --accent-font-color: var(--color-grey-50);

  --large-font-size: var(--base-size);

  --nav-drawer-width: 240px;
  --nav-drawer-padding: 16px;
}
