.task_list_container {
  margin: calc(var(--base-size) * 0.5) 0;
  
  & ul.task_list {
    & > li:not(:first-child) {
      margin-top: calc(var(--base-size) * 0.2);
      border-top: var(--border-color) solid calc(var(--base-size) * 0.1);
    }
  }
  
  & ul.task_filter {
    display: flex;
    flex-direction: row;
    margin-bottom: var(--base-size);
    margin-top: calc(var(--base-size) * 0.75);
    
    & li:first-child {
      flex: 1;
    }
    
    & li:not(:first-child) {
      cursor: pointer;
      line-height: calc(var(--base-size) * 1.5);
      margin: 0 calc(var(--base-size) * 0.25);
      border-bottom: color(var(--border-color) lightness(50%)) solid calc(var(--base-size) * 0.2);
      transition: border 0.2s ease-out;
      
      &:first-child {
        margin-left: 0;
      }
      
      &:hover, &.current {
        border-bottom: var(--border-color) solid calc(var(--base-size) * 0.2);
      }
    }
  }
}