@import '{}/imports/ui/stylesheets/base';

.task_list {
  margin: $base-size * 0.5 0;
  
  ul.tasks {
    > li:not(:first-child) {
      margin-top: $base-size * 0.2;
      border-top: $border-color solid 1px;
    }
  }
  
  ul.filter {
    @extend .flex_row;
    margin-bottom: $base-size;
    margin-top: $base-size * 0.75;
    
    li:first-child {
      flex: 1;
    }
    
    li:not(:first-child) {
      cursor: pointer;
      line-height: $base-size * 1.5;
      margin: 0 $base-size * 0.25;
      border-bottom: lighten($border-color, 50%) solid $base-size * 0.2;
      transition: border 0.2s ease-out;
      
      &:first-child {
        margin-left: 0;
      }
      
      &:hover, &.current {
        border-bottom: $border-color solid $base-size * 0.2;
      }
    }
  }
}