@mixin fullscreen() {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
@mixin absolute-fullscreen() {
  position: absolute;
  @include fullscreen();
}

@mixin fixed-fullscreen() {
  position: fixed;
  @include fullscreen();
}


.flex_row {
  display: flex;
  flex-direction: row;
}