// Flat UI

$color-midnight-blue: #2c3e50;
$color-turquoise: #1abc9c;
$color-clouds: #ecf0f1;
$color-emerland: #2ecc71;
$color-alizarin: #e74c3c;
$color-pomegranate: #c0392b;
$color-wetasphalt: #34495e;

//Material Colors
$color-grey-50: #fafafa;

$color-green-400: #66BB6A;