@import '{}/imports/ui/stylesheets/colors';

$base-size: 1rem;

$background-color: $color-grey-50;
$border-color: $color-wetasphalt;

$primary-color: $color-wetasphalt;
$accent-color: $color-green-400;
$accent-font-color: $color-grey-50;

$large-font-size: $base-size * 1.25;

