@import '{}/imports/ui/stylesheets/base';

.nav_items {
  @extend .flex_column;
  height: 100%;
  background: darken($background-color, 10%);
  
  &.secondary {
    background: $background-color;
  }
}