@import '{}/imports/ui/stylesheets/base';

a.item {
  @extend .flex_row;
  background: $primary-color;
  color: $background-color;
  cursor: pointer;
  padding: 0 $base-size * 0.5;
  border-bottom: darken($background-color, 25%) solid $base-size * 0.1;
  font-size: $large-font-size * 0.8;
  transition: background 0.3s ease-out;
  text-decoration: none !important;
  
  > * {
    line-height: $base-size * 3;
  }
  
  & :first-child {
    flex: 1;
  }
  
  &:hover {
    background: darken($primary-color, 5%);
  }
  
  &.secondary {
    color: $primary-color;
    background: $background-color;
    
    &:hover {
      background: darken($background-color, 5%);
    }
  }
}

.sub_items {
  max-height: 0;
  transition: max-height 0.7s ease-in-out;
  
  &.open {
    max-height: 1280px; /*Haxx*/
  }
}

.empty_item { 
  flex: 1;
}