a.nav_item {
  display: flex;
  flex-direction: row;
  background: var(--primary-color);
  color: var(--background-color);
  cursor: pointer;
  padding: 0 calc(var(--base-size) * 0.5);
  border-bottom: color(var(--background-color) lightness(-25%)) solid calc(var(--base-size) * 0.1);
  font-size: calc(var(--large-font-size) * 0.8);
  transition: background 0.3s ease-out;
  text-decoration: none !important;

  &:hover {
    background: color(var(--primary-color) lightness(-5%));
  }

  &.secondary {
    color: var(--primary-color);
    background: var(--background-color);

    &:hover {
      background: color(var(--background-color) lightness(-5%));
    }
  }

  & > * {
    line-height: calc(var(--base-size) * 3);
  }

  & :first-child {
    flex: 1;
  }
}

.sub_nav_items {
  max-height: 0;
  transition: max-height 0.7s ease-in-out;

  &.open {
    max-height: 1280px; /* Haxx */
  }
}

.empty_nav_item {
  flex: 1;
}
